// swift-tools-version: 6.0

import PackageDescription

let package = Package(
    name: "MBIssueKit",
    platforms: [.iOS(.v15)],
    products: [
        .library(
            name: "MBIssueKit",
            targets: ["MBIssueKit", "MBIssueKitDependencies"]
        ),
    ],
    dependencies: [
        .package(
            url: "https://github.com/mobven/MBAsyncNetworkingXCFramework.git",
            exact: "1.0.0"
        ),
        .package(
            url: "https://github.com/mobven/MobkitCoreXCFramework.git",
            exact: "1.0.0"
        ),
    ],
    targets: [
        .binaryTarget(
            name: "MBIssueKit",
            url: "__BINARY_URL__",
            checksum: "__CHECKSUM__"
        ),
        .target(
            name: "MBIssueKitDependencies",
            dependencies: [
                .product(
                    name: "MBAsyncNetworking",
                    package: "MBAsyncNetworkingXCFramework"
                ),
                .product(
                    name: "MobKitCore",
                    package: "MobkitCoreXCFramework"
                ),
            ]
        ),
    ]
)
